@keyframes failedAnimation {
	0% {
		opacity: 0;
		color: red;
	}

	100% {
		opacity: 1;
		color: black;
	}
}

.failedText {
	animation: failedAnimation 2s linear 1;
	letter-spacing: 2px;
}

@keyframes enteredAnimation {
	0% {
		opacity: 0;
		color: cyan;
	}

	100% {
		opacity: 1;
		color: black;
	}
}

.enteredText {
	animation: enteredAnimation 6s linear 1;
	letter-spacing: 8px;
	text-shadow: 1px 0px 1px black -1px 0px 1px black;
}

.cardinal-button:hover {
	background-color: var(--hover-color);
}