.automator-var {
	color: #569cd6;
}

.automator-identifier {
	color: #9cdcfe;
}

.automator-number {
	color: #b5cea8;
}

.automator-while,
.automator-for,
.automator-return,
.automator-if,
.automator-else,
.automator-forin,
.automator-function {
	color: #569cd6;
}

.automator-true,
.automator-false {
	color: #c586c0;
}

.automator-stringliteral {
	color: #ce9178;
}

.automator-singlelinecomment,
.automator-multilinecomment {
	color: #6a9955;
	font-style: italic;
}

.automator-lessthanorequalto,
.automator-greaterthanorequalto,
.automator-greaterthan,
.automator-lessthan,
.automator-notequal,
.automator-equal,
.automator-assign,
.automator-add,
.automator-sub,
.automator-mul,
.automator-div,
.automator-pow,
.automator-tetrate,
.automator-or,
.automator-and,
.automator-xor,
.automator-not,
.automator-include,
.automator-call {
	color: #f536a0;
}
