.oracle {

}
.oracle .fate-buy,
.oracle .fate-bought{
  width: 90px;
  height: 90px;
  border: 1px solid orange;
  background-color: rgb(63, 31, 0);
  color: var(--color);
  border-radius: 4px;
  &:hover{
    background-color: rgb(108, 57, 0);

  }
}
.oracle .fate-choose{
  width: 90px; height: 90px; background-color: var(--background-color); color: var(--color)
}
.oracle .fate-choose:hover{
  background-color: var(--hover-color)
}