.reset1,
.reset10 {
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	right: 15px;
	top: 7.5px;
	overflow: hidden;
	z-index: 5;
	border-color: var(--color);
	border-style: solid;
	border-width: 1px;
	/*  font-size: 50px;*/
	font-weight: bold;
	line-height: 45px;
	color: #009dd9;
	text-shadow: #5acaff 1.5px 1.5px 3px;
	border-radius: 4px;
	background-color: var(--background-color);
	&:hover {
		background-color: var(--hover-color);
	}

	// &:active {
	// 	background-color: #8fdcff;
	// }
}
